In [1]:
import psycopg2
import pandas as pd
from sqlalchemy import create_engine

import pandas as pd
import numpy as np

In [2]:
engine = create_engine('postgresql://localhost:5432/wa_leg_staging')

In [3]:
legislator_df = pd.read_sql_query('select * from "legislator"',con=engine)

In [12]:
current_house = ['Sherry', 'Barkis', 'Bergquist', 'Blake', 'Buys', 'Caldier', 
                 'Chandler', 'Chapman', 'Chopp', 'Clibborn', 'Cody', 'Condotta', 
                'Debolt', 'Dent', 'Doglio', 'Dolan', 'Dye', 'Eslick', 'Fey', 'Fitzgibbon',
                'Frame', 'Goodman', 'Graves', 'Gregerson', 'Griffey', 'Haler', 'Hansen']

In [13]:
legislator_df[legislator_df['last_name'].isin(current_house)]

        id  agency  district first_name  party   last_name
17      75   House        13       Gary      1    Chandler
137    168  Senate        13      Frank      0      Hansen
176    169  Senate        13      Wanda      0      Hansen
210    638   House        13       Mick      0      Hansen
251   1659   House        43      Frank      0       Chopp
254   1543   House        11     Eileen      0        Cody
255   1543   House        34     Eileen      0        Cody
349   3469   House        15      Bruce      1    Chandler
421   8209   House        41       Judy      0    Clibborn
422   8237   House        12       Cary      1    Condotta
439   8317   House        19      Brian      0       Blake
453   9996   House         8      Larry      1       Haler
472  11999   House        45      Roger      0     Goodman
529  13198   House        34        Joe      0  Fitzgibbon
532  17241   House        27       Jake      0         Fey
540  15820   House        42    Vincent      1        Buys
559  16499   House        23       Drew      0      Hansen
561  17227   House        11      Steve      0   Bergquist
565  18264   House        33        Mia      0   Gregerson
600  20760   House        26   Michelle      1     Caldier
601  20761   House        13        Tom      1        Dent
603  20752   House        35        Dan      1     Griffey
615  21490   House         9       Mary      1         Dye
616  24075   House         2     Andrew      1      Barkis
617  23902   House        36       Noel      0       Frame
626  26176   House        24       Mike      0     Chapman
627  26175   House        22       Beth      0      Doglio
628  26174   House        22     Laurie      0       Dolan
629  26169   House         5       Paul      1      Graves
644  27988   House        39    Carolyn      1      Eslick