In [21]:
import psycopg2
from sqlalchemy import create_engine
import pandas as pd
import numpy as np
from sklearn.base import BaseEstimator, TransformerMixin

In [54]:
def create_staging_vote_df():
    '''Create statging_vote_df from raw_vote_df'''

    engine = create_engine('postgresql://localhost:5432/wa_leg_raw')
    con = engine.connect()
    vote_df = pd.read_sql_query('select * from "vote_api"',con=engine)
    vote_df['bill_unique'] = vote_df['biennium'] + ' ' + vote_df['bill_id']


    def change_biennium_to_year(biennium):
        return int(biennium[0:4])
    
    def change_vote_to_int(vote):
        if vote == 'Nay':
            return 0
        if vote == 'Yea':
            return 1
        if vote == 'Excused':
            return 2
        if vote == 'Absent':
            return 3

    def change_agency_to_int(agency):
        if agency == 'House':
            return 0
        if agency == 'Senate':
            return 1

        
    vote_df['year'] = vote_df['biennium'].apply(change_biennium_to_year)
    vote_df = vote_df.drop(['bill_id', 'biennium', 'motion'], axis=1)
    vote_df['sequence_number'] = vote_df['sequence_number'].apply(int)
    vote_df['voter_id'] = vote_df['voter_id'].apply(int)
    vote_df['vote_date'] = pd.to_datetime(vote_df['vote_date'])
    vote_df['vote'] = vote_df['vote'].apply(change_vote_to_int)
    vote_df['voting_agency'] = vote_df['voting_agency'].apply(change_agency_to_int)

    return vote_df

In [57]:
vote_df = create_staging_vote_df()

In [58]:
vote_df

,sequence_number,vote,vote_date,voter_id,voter_name,voting_agency,bill_unique,year
0,4,1,1991-02-22,7,Anderson,0,1991-92 SHB 1001,1991
1,4,1,1991-02-22,11,Appelwick,0,1991-92 SHB 1001,1991
2,4,1,1991-02-22,17,Ballard,0,1991-92 SHB 1001,1991
3,4,1,1991-02-22,23,Basich,0,1991-92 SHB 1001,1991
4,4,1,1991-02-22,32,Beck,0,1991-92 SHB 1001,1991
5,4,1,1991-02-22,34,Belcher,0,1991-92 SHB 1001,1991
6,4,2,1991-02-22,40,Betrozoff,0,1991-92 SHB 1001,1991
7,4,1,1991-02-22,45,Bowman,0,1991-92 SHB 1001,1991
8,4,0,1991-02-22,46,Braddock,0,1991-92 SHB 1001,1991
9,4,1,1991-02-22,47,Bray,0,1991-92 SHB 1001,1991
10,4,1,1991-02-22,48,Brekke,0,1991-92 SHB 1001,1991
11,4,1,1991-02-22,50,Broback,0,1991-92 SHB 1001,1991
12,4,1,1991-02-22,54,Brough,0,1991-92 SHB 1001,1991
13,4,1,1991-02-22,63,Brumsickle,0,1991-92 SHB 1001,1991
14,4,1,1991-02-22,68,Cantwell,0,1991-92 SHB 1001,1991
15,4,1,1991-02-22,72,Casada,0,1991-92 SHB 1001,1991
16,4,1,1991-02-22,75,Chandler,0,1991-92 SHB 1001,1991
17,4,0,1991-02-22,86,"Cole, G.",0,1991-92 SHB 1001,1991
18,4,1,1991-02-22,93,Cooper,0,1991-92 SHB 1001,1991
19,4,1,1991-02-22,103,Day,0,1991-92 SHB 1001,1991
20,4,1,1991-02-22,110,Dellwo,0,1991-92 SHB 1001,1991
21,4,2,1991-02-22,116,Dorn,0,1991-92 SHB 1001,1991
22,4,1,1991-02-22,121,Ebersole,0,1991-92 SHB 1001,1991
23,4,1,1991-02-22,123,Edmondson,0,1991-92 SHB 1001,1991
24,4,1,1991-02-22,132,Ferguson,0,1991-92 SHB 1001,1991
25,4,1,1991-02-22,135,"Fisher, G.",0,1991-92 SHB 1001,1991
26,4,1,1991-02-22,136,"Fisher, R.",0,1991-92 SHB 1001,1991
27,4,1,1991-02-22,140,Forner,0,1991-92 SHB 1001,1991
28,4,1,1991-02-22,142,Franklin,0,1991-92 SHB 1001,1991
29,4,1,1991-02-22,143,Fraser,0,1991-92 SHB 1001,1991
...,...,...,...,...,...,...,...,...
3042909,2,1,2017-04-20,17218,Vick,0,2017-18 SCR 8401,2017
3042910,2,1,2017-04-20,26170,Volz,0,2017-18 SCR 8401,2017
3042911,2,1,2017-04-20,27181,Walsh,0,2017-18 SCR 8401,2017
3042912,2,1,2017-04-20,15810,Wilcox,0,2017-18 SCR 8401,2017
3042913,2,1,2017-04-20,16462,Wylie,0,2017-18 SCR 8401,2017
3042914,2,1,2017-04-20,18516,Young,0,2017-18 SCR 8401,2017
3042915,13,1,2018-01-31,14208,Angel,1,2017-18 SR 8682,2017
3042916,13,0,2018-01-31,8238,Bailey,1,2017-18 SR 8682,2017
3042917,13,1,2018-01-31,15780,Baumgartner,1,2017-18 SR 8682,2017
3042918,13,1,2018-01-31,14083,Becker,1,2017-18 SR 8682,2017
3042919,13,1,2018-01-31,15811,Billig,1,2017-18 SR 8682,2017
3042920,13,1,2018-01-31,17289,Braun,1,2017-18 SR 8682,2017
3042921,13,0,2018-01-31,17759,Brown,1,2017-18 SR 8682,2017
3042922,13,1,2018-01-31,14325,Carlyle,1,2017-18 SR 8682,2017
3042923,13,1,2018-01-31,1407,Chase,1,2017-18 SR 8682,2017
3042924,13,1,2018-01-31,17294,Cleveland,1,2017-18 SR 8682,2017
3042925,13,1,2018-01-31,972,Conway,1,2017-18 SR 8682,2017
3042926,13,0,2018-01-31,5156,Darneille,1,2017-18 SR 8682,2017
3042927,13,1,2018-01-31,28022,Dhingra,1,2017-18 SR 8682,2017
3042928,13,0,2018-01-31,3473,Ericksen,1,2017-18 SR 8682,2017
3042929,13,1,2018-01-31,15779,Fain,1,2017-18 SR 8682,2017
3042930,13,1,2018-01-31,3474,Fortunato,1,2017-18 SR 8682,2017
3042931,13,1,2018-01-31,15821,Frockt,1,2017-18 SR 8682,2017
3042932,13,1,2018-01-31,12003,Van De Wege,1,2017-18 SR 8682,2017
3042933,13,1,2018-01-31,28317,Wagoner,1,2017-18 SR 8682,2017
3042934,13,1,2018-01-31,1232,Walsh,1,2017-18 SR 8682,2017
3042935,13,1,2018-01-31,12084,Warnick,1,2017-18 SR 8682,2017
3042936,13,1,2018-01-31,27211,Wellman,1,2017-18 SR 8682,2017
3042937,13,1,2018-01-31,20758,Wilson,1,2017-18 SR 8682,2017
3042938,13,1,2018-01-31,4006,Zeiger,1,2017-18 SR 8682,2017

In [53]:
vote_df.to_sql('vote', con, if_exists='append', index=False)

0:300000
300000:600000
600000:900000
900000:1200000
1200000:1500000
1500000:1800000
1800000:2100000
2100000:2400000
2400000:2700000
2700000:3000000
3000000: